  </div>
  <script src="/jquery/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
</body>
</html>
