<% include layout %>
<div class="row">
  <div class="page-header">
    <h1>Contacto</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Grupos</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id Grupo</th>
          <th>Nombre Grupo</th>
          <th>Id Curso</th>
          <th>Nombre Curso</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: detallesGrupo">
        <tr>
          <td data-bind="text: idGrupo"></td>
          <td data-bind="text: nombreGrupo"></td>
          <td data-bind="text: idCurso"></td>
          <td data-bind="text: nombreCurso"></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-danger">Agregar</button>
  </div>
</div>
<% include footer %>
<script src="/javascripts/detalleGrupo.js"></script>
